<div class="wrap">
  <div class="nav-wrap">
    <div class="nav-logo">

      <div class="nav-qna-logo">
        {{#link-to 'index'}}<h1 class="qna">Ephie Q&A</h1>{{/link-to}}
      </div>
    </div>

  </div>
  <div class="body-wrap">
    {{outlet}}
  </div>

</div>
