<div class="wrap">
  <div class="nav-wrap">
    <div class="nav-logo">

      <div class="nav-qna-logo">
        <center>
        {{#link-to 'index'}}<h1 class="qna">Ephie Q&A</h1>{{/link-to}}
        <marquee behavior="alternate"><h1>ULIZA NA UJIBIWE PAPA HAPA</h1></marquee>
      </center>
      </div>
    </div>

  </div>
  <div class="body-wrap">
    {{outlet}}
  </div>

</div>
